@font-face {
    font-family: "Hack";
    src: url("assets/fonts/Hack-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Hack";
    src: url("assets/fonts/Hack-Bold.woff2") format('woff2');
    font-weight: bold;
}

body {
    background-color: var(--bg);
}

#main {
    font-family: "Hack";
    width: 90vw;
    height: calc(2/5*90vw);
    margin: 50px auto;
    margin-top: 20px;
    background-color: var(--bg_2);
    display: flex;
    flex-direction: row;
}

#editor {
    height: calc(2/5*90vw);
    width: calc(3/5*90vw);
    gap: 0px;
    display: flex;
    flex-direction: row;
}

.editor_sub {
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    resize: none;
    font-family: "Hack";
}

#numbers {
    text-align: right;
    font-family: "Hack";
}

#code {
    flex: 1;
}

#draw-js-logo {
    width: 200px;
    margin-left: 5vw;
    margin-top: 15px;
}